{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/login.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>


<div class="sidenav">
         <div class="login-main-text">
            <h2>BPJamsostek Langsa<br> Reset Password</h2>
            <p>Reset Your Password</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="post" action="">
                {% csrf_token %}
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" class="form-control col-sm-8" placeholder="Enter Your Email" name="email">
                  </div>
                  
                  <button type="submit" class="btn btn-black">Send Confirmation</button>
                        <ul class="login-more p-t-190">
                            <li class="m-b-8">
                                <span class="txt1">
                                    Lupa
                                </span>
                                <a href="{% url 'password_reset' %}" class="txt2">
                                    Nama Pengguna / Sandi?
                                </a>
                            </li>
                            <li>
                                <span class="txt1">
                                    Tidak Punya akun?
                                </span>
                                <a href="#" class="txt2">
                                    Daftar
                                </a>
                            </li>
                        </ul>
               </form>
            </div>
         </div>
      </div>