* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #3F3D56;
}

#password {
    display: none;
}

@keyframes stars{
    from {
        transition: all 1s;
    }
    to {
         transition: all 2s;
         display: contents;
    }
}